// Solid Colors
$bg-main: #ffffff;
$txt-black: #000000;
$blue-main: hsl(231, 69%, 60%);
$red-main: hsl(0, 94%, 66%);
$grey-main: rgb(210, 210, 210);
$blue-sub-a: hsl(229, 8%, 60%);
$blue-sub-b: hsl(229, 31%, 21%);
//Shades
$blue-sub-a-sh: rgba(145, 148, 161,0.40);
$blue-sub-b-sh: rgba(37, 43, 70,0.90);
