// Solid Colors
$bg-main: #ffffff;
$txt-black: #000000;
$blue-main: hsl(231, 69%, 60%);
$red-main: hsl(0, 94%, 66%);
$grey-main: rgb(210, 210, 210);
$blue-sub-a: hsl(229, 8%, 60%);
$blue-sub-b: hsl(229, 31%, 21%);
//Shades
$blue-sub-a-sh: rgba(145, 148, 161,0.40);
$blue-sub-b-sh: rgba(37, 43, 70,0.90);

* {
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
}

//Font Themes
@mixin fontXl {
    font-size: 2.8rem;
    font-weight: 500;
    line-height: 3.6rem; 
}

@mixin fontL {
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 3.6rem; 
}

@mixin fontM {
    font-size: 2rem;
    font-weight: 200;
}

@mixin fontS {
    font-size: 1.5rem;
    font-weight: 400;
}

@mixin fontXs {
    font-size: 1.2rem;
    font-weight: 400;
}

//Layout Themes
@mixin alignColLeft {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

@mixin alignColCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin alignRowCenter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


//Section Themes
.App {
    width: 100vw;
    overflow-x: hidden;
    background-color: $bg-main;
    @include alignColCenter();
}

header {
    width: 100%;
    @include alignRowCenter();
    justify-content: space-between;
    padding: 4rem 2.5rem;

    button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

}

header.hide {
    visibility: hidden;
}

.content-main {
    @include alignColCenter();
    flex-direction: column-reverse;
    width: 100vw;
    padding: 2.5rem 0rem 5rem 0rem;

    .container-main-a {
        padding: 2.5rem 0rem;
        @include alignColCenter();
    
        h1 {
            @include fontXl();
            color: $blue-sub-b;
            text-align: center;
            padding: 2rem;
        }
    
        h2 {
            @include fontL();
            color: $blue-sub-b;
            text-align: center;
            padding: 0rem 5rem;
        }
    
        p {
            @include fontS();
            line-height: 2.5rem; 
            padding: 1.5rem 4rem;
            color: $blue-sub-a;
            text-align: center;
        }
        
        button {
            border: none;
            @include fontS();
            border-radius: 0.5rem;
            padding: 1.5rem;
            margin: 0.5rem;
            box-shadow: 0rem 3px 5px $blue-sub-a-sh;
        }
    
        .btn-a {
            background-color: $blue-main;
            color: $bg-main;
        }
    
        .btn-b {
            background-color: $bg-main;
            color: $blue-sub-b;
        }
    }

    .container-main-b {
        position: relative;
        @include alignRowCenter();
        width: 100%;
        height: 0;
        padding-top: 66.64%;
        // overflow: hidden;
    
        .background-right {
            height: 60%;
        }
    
        .svg-hero-a { //Right background
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0rem;
            left: 0rem;
            background-image: url("../images//illustration-hero.svg");
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            width: 100%;
            height: 0;
            padding-top: 66.64%;
            z-index: 1;
        }
    
        .svg-hero-b { //Left background
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0rem;
            left: 0rem;
            background-image: url("../images//illustration-features-tab-1.svg");
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            width: 100%;
            height: 0;
            padding-top: 66.64%;
            z-index: 1;
            transform: scale(0.85);
        }
    
        .background-right {
            z-index: 0;
            position: absolute;
            bottom: 0rem;
            width: 150vw;
            height: 75%;
            left: 20%;
            background-color: $blue-main;
            border-radius: 1000rem;
        }
    
        .background-left {
            z-index: 0;
            position: absolute;
            bottom: 0rem;
            width: 150vw;
            height: 75%;
            right: 25%;
            background-color: $blue-main;
            border-radius: 1000rem;
        }
    }
}






// Reused Text Container
.container-sub-a {
    padding: 2.5rem 0rem;
    @include alignColCenter();

    h1 {
        @include fontXl();
        color: $blue-sub-b;
        text-align: center;
        padding: 2rem;
    }

    h2 {
        @include fontL();
        color: $blue-sub-b;
        text-align: center;
        padding: 0rem 5rem;
    }

    p {
        @include fontS();
        line-height: 2.5rem; 
        padding: 1.5rem 4rem;
        color: $blue-sub-a;
        text-align: center;
    }
    
    button {
        border: none;
        @include fontS();
        border-radius: 0.5rem;
        padding: 1.5rem;
        margin: 0.5rem;
        box-shadow: 0rem 3px 5px $blue-sub-a-sh;
    }

    .btn-a {
        background-color: $blue-main;
        color: $bg-main;
    }

    .btn-b {
        background-color: $bg-main;
        color: $blue-sub-b;
    }
}

.features {
    padding: 2.5rem 0rem 5rem 0rem;
    width: 100%;
    @include alignColCenter();

    ul {
        padding: 0rem 4rem 4rem 4rem;
        @include alignColCenter();
        width: 100%;

        li {
            width: 100%;
            @include alignRowCenter();
            border-bottom: 1px solid $blue-sub-a-sh;
        }

        li:nth-child(1){
            border-top: 1px solid $blue-sub-a-sh;
        }

        a { 
            @include fontS();
            text-align: center;
            letter-spacing: 0.1rem;
            color: $blue-sub-a;
            padding: 2.25rem 0rem;
            text-decoration: none;
            cursor: pointer;
            transition: color 0.3s;
        }

        a:focus-visible, a:focus {
            outline: none;
        }

        a:hover { 
            color: $red-main;
            cursor: pointer;
            transition: color 0.3s;
        }

        a.tab-select {
            padding-bottom: 1.85rem;
            border-bottom: 0.4rem solid $red-main;
            color: #000000;;
        }
    }

    .features-content {
        width: 100%;
    }

    .container-sub-b {
        position: relative;
        @include alignRowCenter();
        width: 100%;
        height: 0;
        padding-top: 66.64%;
        // overflow: hidden;
    
        .background-right {
            height: 60%;
        }
    
        .svg-hero-b { //Left background
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0rem;
            left: 0rem;
            // background-image: url("../images//illustration-features-tab-1.svg");
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            width: 100%;
            height: 0;
            padding-top: 66.64%;
            z-index: 1;
            transform: scale(0.85);
        }
    
        .background-right {
            z-index: 0;
            position: absolute;
            bottom: 0rem;
            width: 150vw;
            height: 75%;
            left: 20%;
            background-color: $blue-main;
            border-radius: 1000rem;
        }
    
        .background-left {
            z-index: 0;
            position: absolute;
            bottom: 0rem;
            width: 150vw;
            height: 75%;
            right: 25%;
            background-color: $blue-main;
            border-radius: 1000rem;
        }
    }

    .feature-item-1 .svg-hero-b {
        background-image: url("../images//illustration-features-tab-1.svg");
    }

    .feature-item-2 .svg-hero-b {
        background-image: url("../images/illustration-features-tab-2.svg");
    }

    .feature-item-3 .svg-hero-b {
        background-image: url("../images/illustration-features-tab-3.svg");
    }
}

.extensions {
    padding: 2.5rem 0rem 5rem 0rem;
}

.ext-card-container {
    @include alignColCenter();
    background-color: $bg-main;

    div[class*="ext-card-item"] {
        margin-bottom: 3rem;
        @include alignColCenter();
        box-shadow: 0px 8px 10px $blue-sub-a-sh;
        border-radius: 1.5rem;

        svg:nth-child(1) {
            margin: 3rem;
        }

        h2 {
            @include fontM();
            color: $blue-sub-b;
            font-weight: 500;
            text-align: center;
            line-height: 3.6rem;
            padding: 1rem 2rem;
        }

        p {
            @include fontS();
            line-height: 2.5rem;
            color: $blue-sub-a;
            text-align: center;
            margin-bottom: 3rem;
        }

        .card-btn-container {
            padding: 2.5rem 0rem;
            @include alignColCenter();

            button {
                @include fontS();
                color: $bg-main;
                background-color: $blue-main;
                border: none;
                border-radius: 0.5rem;
                padding: 1.5rem 3rem;
            }
        }

        .border-dot {
            width: 100%;
            height: 10px;
            background-image: linear-gradient(to right, #000 10%, rgba(255, 255, 255, 0) 0%);
            background-position: top;
            background-size: 10px 1px;
            background-repeat: repeat-x;
        }
    }
}


.faq-container {
    width: 100%;
    @include alignColCenter();
    margin-bottom: 5rem;
    padding: 2.5rem 0rem 5rem 0rem;

    .dropdown-container {
        width: 100%;
        @include alignColCenter();
        padding: 3rem;
        padding-top: 0rem;

        div[id*="tab-item"] {
            width: 100%;
            border-bottom: 1px solid $blue-sub-a-sh;

            .tab-title {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding: 1.5rem 0rem;
                cursor: pointer;

                h2 {
                    @include fontS();
                    color: $blue-sub-b;
                    text-align: center;
                    line-height: 3.6rem;
                    transition: color 0.3s;
                }
            }

            .tab-title:hover {

                h2 {
                    color: $red-main;
                    transition: color 0.3s;
                }
            }

            .tab-content {
                height: 0rem;
            }
        }

        div[id*="tab-item"].open {
            width: 100%;
            padding: 1rem 0rem;
            border-bottom: 1px solid $blue-sub-a-sh;

            .tab-title {
                svg {
                    transform: rotate(180deg);
                    path {
                        stroke: $red-main;
                    }
                }
            }

            .tab-content {
                height: auto;

                p {
                    @include fontS();
                    line-height: 2.5rem;
                    color: $blue-sub-a;
                    padding: 2rem 0rem;
                }
            }
        }
    }

    .button-container {
        display: flex;
        justify-content: center;
        align-items: center;

        button {
            @include fontS();
            color: $bg-main;
            background-color: $blue-main;
            border: none;
            border-radius: 0.5rem;
            padding: 1.5rem 3rem;
            box-shadow: 0rem 3px 5px $blue-sub-a-sh;
        }
    }

}

.contact {
    width: 100%;
    @include alignColCenter();
    background-color: $blue-main;
    padding: 4rem 3rem;

    p, h2 {
        @include fontXs();
        color: $bg-main;
        padding: 1rem 0rem;
        text-align: center;
    }

    p {
        letter-spacing: 0.5rem;
    }

    h2 {
        @include fontL();
        line-height: normal;
        letter-spacing: 0.1rem;
    }

    form {
        width: 100%;
        @include alignColCenter();
        margin-top: 2rem;

        #input-container {
            position: relative;
            width: 100%;
            padding-bottom: 2rem;
            border: 2px solid transparent;

            input {
                @include fontXs();
                width: 100%;
                letter-spacing: 0.1rem;
                color: $txt-black;
                padding: 1.5rem 2rem;
                border: none;
                border-radius: 0.5rem;
            }

            ::placeholder {
                color: $blue-sub-a-sh;
            }

            #input-err {
                position: absolute;
                bottom: 0.5rem;
                left: 1rem;
                font-size: 1rem;
                font-style: italic;
                letter-spacing: 0rem;
                font-weight: 400;
                color: $bg-main;
                padding: 0rem;
                text-align: center;
                opacity: 0;
            }

            svg {
                position: absolute;
                top: 1rem;
                right: 1rem;
                opacity: 0;
            }
        }

        #input-container.invalid { 
            margin-bottom: 2rem;
            border: 2px solid $red-main;
            border-radius: 0.5rem;
            background-color: $red-main;
            white-space: nowrap;

            #input-err {
                opacity: 1;
            }

            svg {
                opacity: 1;
            }

        }

        button {
            @include fontS();
            white-space:nowrap;
            width: 100%;
            color: $bg-main;
            background-color: $red-main;
            border: none;
            border-radius: 0.5rem;
            padding: 1.5rem 3rem;
            box-shadow: 0rem 3px 5px $blue-sub-a-sh;
        }
    }
}

footer {
    width: 100%;
    background-color: $blue-sub-b;
    @include alignColCenter();
    padding: 4rem 3rem;

    svg {
        margin-bottom: 2rem;

        g path {
            fill: #ffffff;
        }
    }

    .footer-links {
        @include alignColCenter();

        p { 
            @include fontS();
            width: 100%;
            text-align: center;
            // font-size: 1.5rem;
            font-weight: 300;
            letter-spacing: 0.3rem;
            color: $bg-main;
            padding: 2.25rem 0rem;
            cursor: pointer;
        }
    }

    .modal-footer {
        @include alignRowCenter();

        svg {
            fill: #ffffff;
            margin: 2rem;
        }
    }
}

.nav-modal {
    position: fixed;
    @include alignColCenter();
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    background-color: $blue-sub-b-sh;
    padding: 4rem 3rem;
    z-index: 9999;

    .modal-header {
        width: 100%;
        @include alignRowCenter();
        justify-content: space-between;
        border-bottom: 1px solid $blue-sub-a-sh;
        padding-bottom: 4rem;

        button {
            background-color: transparent;
            border: none;
            cursor: pointer;
        }

        svg {
            g path {
                fill: #ffffff;
            }
            g g {
                circle {
                    fill: #ffffff;
                }
                path {
                    fill: $blue-sub-b
                }
            }
        }
    }

    .modal-links {
        width: 100%;
        flex-grow: 1;
        @include alignColCenter();
        justify-content: flex-start;

        p {
            @include fontM();
            width: 100%;
            text-align: center;
            letter-spacing: 0.2rem;
            color: $bg-main;
            padding: 2.25rem 0rem;
            border-bottom: 1px solid $blue-sub-a-sh;
            cursor: pointer;
        }

        p.selected {
            margin: 2.25rem 0rem;
            padding: 1.25rem;
            border: 2px solid $bg-main;
            border-radius: 0.5rem;
        }
    }

    .footer-icons {
        @include alignRowCenter();

        svg {
            fill: #ffffff;
            margin: 2rem;
        }
    }
}