
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
    font-size: 10px;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


// Colors
$bg-main: #ffffff;
$blue-main: hsl(231, 69%, 60%);
$red-main: hsl(0, 94%, 66%);

$blue-sub-a: hsl(229, 8%, 60%);
$blue-sub-b: hsl(229, 31%, 21%);

$blue-sub-a-sh: rgba(145, 148, 161,0.40);
$blue-sub-b-sh: rgba(37, 43, 70,0.90);



* {
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
}

.nav-modal {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: $blue-sub-b-sh;

    display: flex;
    flex-direction: column;
    padding: 4rem 2.5rem;

    .modal-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid $blue-sub-a-sh;
        padding-bottom: 4rem;

        button {
            background-color: transparent;
            border: none;
            cursor: pointer;
        }
    }

    svg {
        g path {
            fill: #ffffff;
        }
        g g {
            circle {
                fill: #ffffff;
            }
            path {
                fill: $blue-sub-b
            }
        }
    }

    .modal-links {
        flex-grow: 1;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;


        p { 
            width: 100%;
            text-align: center;
            font-size: 2rem;
            font-weight: 400;
            letter-spacing: 0.2rem;
            color: $bg-main;
            padding: 2.25rem 0rem;
            border-bottom: 1px solid $blue-sub-a-sh;
            cursor: pointer;
        }

        p.selected {
            margin: 2.25rem 0rem;
            padding: 1.25rem;
            border: 2px solid $bg-main;
            border-radius: 0.5rem;
        }
    }

    .modal-footer {
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
            fill: #ffffff;
            margin: 2rem;
        }
    }
}

.App {
    width: 100vw;
    background-color: $bg-main;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 4rem 2.5rem;

    button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

}

header.hide {
    visibility: hidden;
}